<!DOCTYPE html>
<html id="J-html" class="">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  {% feed_meta %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/static/css/font-awesome.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/static/style.css' | relative_url }}" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/static/rouge-github.css' | relative_url }}" />
</head>
<body itemscope itemtype="http://schema.org/WebPage" class="home blog lotus index">
  <nav class="lotus-nav">
    <ul>
      {% for nav in site.data.iLotus.nav_items %}
      {% assign activeClass = nil %}
      {% assign pageUrl = page.url %}
      {% assign pageUrlWithSuffix = page.url | append: '.html' %}
      {% if pageUrl == nav.url or pageUrlWithSuffix == nav.url %}
        {% assign activeClass = 'current' %}
      {% endif %}
      <li class="{{ nav.class }} {{ activeClass }}">
        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
        <a href="{{ nav.url }}" rel="bookmark" target="_blank" title="{{ nav.title }}">
          <i class="{{ nav.icon }}"></i>
        </a>
        {% else %}
        <a href="{{ nav.url | relative_url}}" rel="bookmark" title="{{ nav.title }}">
          <i class="{{ nav.icon }}"></i>
        </a>
        {% endif %}
      </li>
      {% endfor %}

      {% for menu in site.data.iLotus.menu_items %}
      {% assign activeClass = nil %}
      {% assign pageUrl = page.url %}
      {% assign pageUrlWithSuffix = page.url | append: '.html' %}
      {% if pageUrl == menu.url or pageUrlWithSuffix == menu.url %}
        {% assign activeClass = 'current' %}
      {% endif %}
      <li class="{{ menu.class }} {{ activeClass }}">
        {% if menu.url contains 'http://' or menu.url contains 'https://' %}
        <a href="{{ menu.url }}" rel="bookmark" target="_blank" title="{{ menu.title }}">
          <i class="{{ menu.icon }}"></i>
        </a>
        {% else %}
        <a href="{{ menu.url | relative_url}}" rel="bookmark" title="{{ menu.title }}">
          <i class="{{ menu.icon }}"></i>
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>

  {{ content }}

<footer class="lotus-footer">
  <p>Copyright © {{ site.data.iLotus.copyright.begin_year }}–{{ site.time | date: "%Y" }} {{ site.title }} All rights reserved. Design by <a href="http://www.zhanxin.info" target="_blank">zhanxin</a>.</p>
</footer>
<script src="{{ '/static/js/jquery.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/static/js/jquery.scrollTo.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/static/js/jquery.cookie.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/static/js/iLotus.js' | relative_url }}" type="text/javascript"></script>
</body>
</html>
